<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    <form action="/user/register" method="post">
        First Name :  <input type="text" name="first"/>
        Middle Name : <input type="text" name="middle">
        Last Name : <input type="text" name="last">
        Email :  <input type="email" name="email"/><br>
        Password : <input type="password" name="password"><br>
        Confirm Password : <input type="password" name="confirm_pass"><br>
        Aadhar : <input type="number" name="aadhar">
        House : <input type="text" name="house"><br>
        Area : <input type="text" name="area"><br>
        District : <input type="text" name="district"><br>
        State : <input type="text" name="state"><br>
        Pin : <input type="number" name="pin"><br>
        Mobile : <input type="number" name="phone"><br>
        <button type="submit">Submit</button>
     </form>

    
</body>
</html>
